.wrap {
  background-color: var(--main-bg-color);
  min-height: 700px;
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  margin: auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0px 10px 1.5rem 1rem;
}

.subTitle {
  font-size: 2rem;
  max-width: 700px;
  margin: 0px 0px 2rem 1rem;
}

.wrapCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 1302px) {
  .title {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .subTitle {
    width: 70%;
    margin: 1rem auto 2rem;
  }
}

@media (max-width: 658px) {
  .wrapCard > div:nth-child(3),
  .wrapCard > div:nth-child(4) {
    display: none;
  }
}

@media (max-width: 576px) {
  .wrap {
    padding-bottom: 0px;
  }
  .subTitle {
    font-size: 1.3rem;
    width: 80%;
  }
}