.wrap {
  background-color: #E5FFD4;
  min-height: 800px;
  padding: 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  /* width: 70%; */
  margin: auto;
  
}

.title {
  font-size: 3rem;
  margin: 0px 10px 0px 1rem;
}

.subTitle {
  font-size: 2rem;
  max-width: 700px;
  margin-left: 1rem;
  margin-top: 0px;
}

.wrapCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}