.wrap {
  background-color: #FFF;
  /* background-color: grey; */
  min-height: 800px;
  padding-top: 5rem;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.title p {
  font-size: 1.8rem;
  width: 700px;
  margin: auto;
  text-align: left;
}

.imgWrap {
  width: 70%;
  margin: 2rem auto 0;
}

.imgWrap img {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin: 1rem;
}
