.wrap {
  /* background: conic-gradient(from -16.52deg at 53.36% 111.33%, rgba(231, 255, 255, 0) -56.41deg, #E7FFFF 137.95deg, rgba(231, 255, 255, 0) 303.59deg, #E7FFFF 497.95deg); */
  min-height: 800px;
  /* padding-top: 5rem; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.wrapCol {
  width: 50%;
  display: inline-block;
}

.wrapLeft {
  max-width: 450px;
  margin-left: auto;
  line-height: normal;
  position: relative;
  right: 70px;
}

.wrapLeft h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.wrapLeft p {
  font-size: 1.8rem;
}

.wrapLeft button {
  background: #4F92BB;
  border: 1px solid #4F92BB;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  /* background: #E7FFFF; */
  /* border: 1px solid #E7FFFF; */
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); */
  /* border-radius: 50px; */
  height: 120px;
  font-size: 2rem;
  margin-top: 2rem;
  width: 450px;
  color: #FFF;
}

.wrapRight {
  position: relative;
  top: 100px;
  left: 70px;
  width: 85%;
}

.wrapRight:nth-of-type(1) > img:nth-of-type(2) {
  top: 70px;
  left: 70px;
}

.wrapRight:nth-of-type(2) > img:nth-of-type(1) {
  top: 50px;
}

.wrapRight:nth-of-type(2) > img:nth-of-type(2) {
  top: 120px;
  left: 70px;
}

.beautyImg {
  width: 230px;
  height: 230px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
  border-radius: 50%;
  position: relative;
}

.imgSource {
  display: none;
}
