.wrap {
  /* background: conic-gradient(from -16.52deg at 53.36% 111.33%, rgba(231, 255, 255, 0) -56.41deg, #E7FFFF 137.95deg, rgba(231, 255, 255, 0) 303.59deg, #E7FFFF 497.95deg); */
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrapCol {
  /* width: 50%; */
  /* display: inline-block; */
  flex: 1 0;
}

.wrapCol:nth-of-type(1) {
  min-width: 450px;
}

.wrapLeft {
  max-width: 500px;
  margin-left: auto;
  line-height: normal;
}

.wrapLeft h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.wrapLeft p {
  font-size: 1.8rem;
  max-width: 450px;
}

.wrapLeft button {
  background: #4F92BB;
  border: 1px solid #4F92BB;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 120px;
  font-size: 2rem;
  margin-top: 2rem;
  max-width: 450px;
  width: 100%;
  color: #FFF;
}

.wrapRight {
  /* position: relative; */
  /* top: 100px; */
  /* left: 70px; */
  /* width: 85%; */
  text-align: center;
}

.wrapRightTop, .wrapRightBottom {
  width: 70%;
  min-width: 500px;
}

.wrapRightTop img:nth-of-type(1) {
  top: -90px;
  right: 20px;
}

.wrapRightTop img:nth-of-type(2) {
  top: 10px;
  left: 30px;
}

.wrapRightBottom img:nth-of-type(1) {
  top: -40px;
  right: 20px;
}

.wrapRightBottom img:nth-of-type(2) {
  top: 60px;
  left: 30px;
}

.beautyImg {
  width: 200px;
  height: 200px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
  border-radius: 50%;
  position: relative;
}

.imgSource {
  display: none;
}


@media (max-width: 967px) {
  .wrapLeft {
    margin: auto;
    max-width: 570px;
  }
}