.wrap {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrapCol {
  flex: 1 0;
  line-height: normal;
  min-width: 520px;
}

.wrapLeft {
  max-width: 500px;
  margin-left: auto;
}

.wrapLeft h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.wrapLeft p {
  font-size: 1.8rem;
}


.wrapRight {
  width: 70%;
  min-width: 502px;
}


.box {
  width: 500px;
  background: #FFFFFF;
  border: 1px solid #4AD645;
  border-radius: 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
  /* border: 1px solid #A46DC7; */
  /* border-radius: 20px 20px 5px 5px; */
  /* position: relative; */
  top: -50px;
  right: 100px;
  margin: auto;
}

.boxTop, .boxBottom {
  width: 100%;
  /* height: 50%; */
  height: 175px;
  display: flex;
  flex-wrap: wrap;
}

.boxTop {
  border-bottom: 1px solid #4AD645;
}

.boxBottom {
  border-top: 1px solid #4AD645;
}

.boxLeft, .boxRight {
  display: inline-block;
  flex: 1 0;
}

.boxLeft {
  border-right: 1px solid #4AD645;
}

.boxRight {
  border-left: 1px solid #4AD645;
}

.boxFlex {
  display: flex;
}

.boxTop .boxFlex > div {
  display: inline-block;
  width: 50%;
}

.boxTop .boxFlex > div:nth-child(1) {
  text-align: center;
}


.boxTop > .boxLeft img,
.boxTop > .boxRight img {
  width: 75px;
  height: 85px;
}

.boxLeft p,
.boxRight p {
  /* color: #7E0CC6; */
  color: #000;
}

.boxTop .boxFlex:nth-of-type(1) p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}

.boxTop .boxFlex:nth-of-type(2) p:nth-of-type(1) {
  font-size: 1.3rem;
  margin: 10px 0 0;
}

.boxTop .boxFlex:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.6rem;
  margin: 10px 0 0;
}


.boxBottom .boxLeft .boxFlex:nth-of-type(1) div:nth-of-type(1) {
  width: 95%;
  text-align: center;
}

.boxBottom .boxFlex:nth-of-type(1) p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}

.boxBottom .boxLeft .boxFlex:nth-of-type(2) > div:nth-of-type(1) {
  width: 50%;
  text-align: right;
}

.boxBottom .boxFlex:nth-of-type(2) > div:nth-of-type(2) {
  width: 50%;
}

.boxBottom .boxLeft .boxFlex:nth-of-type(2) p {
  font-size: 3rem;
  margin: 0;
}

.boxBottom .boxFlex:nth-of-type(2) img {
  width: 30px;
  height: 30px;
}

.boxBottom .boxFlex:nth-of-type(2) div:nth-of-type(2) > div {
  width: 30px;
  height: 30px;
  /* background: rgba(126, 12, 198, 0.25); */
  /* border: 1px solid #7E0CC6; */
  background: rgba(74, 214, 69, 0.25);
  border: 1px solid #4AD645;
  text-align: center;
  margin: auto;
}

.boxBottom .boxFlex:nth-of-type(2) div:nth-of-type(2) > div:nth-of-type(1) {
  margin-bottom: 5px;
}

.boxBottom .boxRight .boxFlex:nth-of-type(1) div {
  width: 50%;
  text-align: center;
}

.boxBottom .boxRight .boxFlex:nth-of-type(2) {
  justify-content: center;
}

.boxBottom .boxRight .boxFlex:nth-of-type(2) div {
  width: 85%;
  height: 50px;
  /* background: rgba(126, 12, 198, 0.25); */
  /* border: 1px solid #7E0CC6; */
  /* border-radius: 5px; */
  background: rgba(74, 214, 69, 0.25);
  border: 1px solid #4AD645;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.boxBottom .boxRight .boxFlex:nth-of-type(2) p {
  font-size: 1.2rem;
  padding-left: 5px;
  margin: 0;
}




.boxButton {
  /* background: linear-gradient(180deg, rgba(164, 109, 199, 0.5) 0%, #A46DC7 100%); */
  /* border: 1px solid #A46DC7; */
  /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25); */
  /* border-radius: 5px 5px 20px 20px; */
  background: linear-gradient(180deg, rgba(74, 214, 69, 0.5) 0%, #4AD645 100%);
  border: 1px solid #4AD645;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 20px 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxButton span {
  font-size: 2.5rem;
  font-weight: 700;
}






@media (max-width: 1056px) {
  .wrapLeft {
    margin: auto;
    width: 70%;
    max-width: 700px;
  }

  .wrapRight {
    margin: auto;
  }
}

@media (max-width: 550px) {
  .box {
    width: 100%;
  }

  .boxRight .boxFlex:nth-of-type(1) > div:nth-of-type(1) {
    width: 80%;
  }

  .boxRight .boxFlex:nth-of-type(1) > div:nth-of-type(2) {
    width: 20%;
  }
}

@media (max-width: 520px) {
  .wrapCol, .wrapRight {
    min-width: 390px;
  }

  .boxLeft .boxFlex:nth-of-type(1) > div:nth-of-type(1) {
    width: 80%;
  }

  .boxLeft .boxFlex:nth-of-type(1) > div:nth-of-type(2) {
    width: 20%;
  }
}

