.wrap {
  background-color: #F0F0F0;
  padding-top: 1rem;
  max-width: 768px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-left: 2rem;
}

.myInfoWrap {
  display: flex;
  flex-wrap: wrap;
}

.myInfoLeft {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myInfoRight {
  width: 50%;
}

.myImageWrap {
  width: 150px;
  height: 150px;
  background-color: var(--main-bg-color);
  border: 1px solid #000000;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.myImageWrap img {
  width: 95%;
  height: 95%;
  margin-top: 2%;
}

.myInfoRight p {
  font-size: 1.2rem;
  margin: 10px auto;
  max-width: 350px;
}

.buttonGroup {
  text-align: right;
}

.fullButton:nth-of-type(1) {
  margin-right: 1rem;
}

.fullButton {
  width: 70px;
  height: 50px;
  background: var(--main-default-color);
  color: #FFF;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1rem 2rem 1rem 0;
}

.fullButton:hover {
  background-color: var(--main-default-dark-color);
}
