.wrap img {
  width: 100%;
  height: 100%;
}

.fileUploadButtonWrap > div {
  margin: 10px auto;
  width: 250px;
  height: 30px;
}

.fileUploadButtonWrap > div > label {
  width: 250px;
  height: 30px;
}

.fileUploadButtonWrap > div > label::after {
  height: 30px;
}

.fileUploadButtonWrap > div > label:hover::after {
  width: 250px;
  height: 30px;
}

.wrapForm {
  width: 80%;
  min-height: 400px;
  margin: 10px auto;
}

.wrapForm div {
  width: 400px;
  margin: 10px auto;
}

.wrapForm label {
  display: inline-block;
  width: 110px;
  font-weight: 700;
}

.wrapForm input {
  width: 200px;
  height: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 5px;
}

.emptyButton {
  height: 28px;
  border: 1px solid var(--main-default-color);
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.emptyButton:hover {
  background-color: var(--main-default-dark-color);
  color: #FFF;
}

.buttonGroup {
  text-align: center;
  margin: auto !important;
}

.buttonGroup button {
  color: white;
  background-color: var(--main-default-color);
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
}

.buttonGroup button:hover {
  background-color: var(--main-default-dark-color);
}

.joinWarning {
  color: red;
  font-size: 0.8rem;
  margin-top: 3px;
}

@media (max-width: 560px) {
  .wrapForm {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .wrapForm div {
    width: 100%;
    margin: 8px auto;
  }

  .wrapForm label {
    text-align: left;
  }

  .wrapForm .responsiveInput {
    width: 130px;
  }
}
