.wrap {
  background-color: #F0F0F0;
  padding: 1rem 0;
  max-width: 768px;
  margin: auto;
  min-height: 300px;
}

.topWrap {
  display: flex;
  justify-content: space-between;
}

.topWrap > h2 {
  font-size: 2rem;
  margin-left: 2rem;
}

.topWrap > button {
  width: 60px;
  margin-right: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background: var(--main-default-color);
  color: white;
  cursor: pointer;
}

.topWrap > button:hover {
  background-color: var(--main-default-dark-color);
}

.myPetWrap {
  min-height: 200px;
  width: 91%;
  margin: 1rem auto;
}

.myPetEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.myPetEmpty > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.myPetList {
  /* margin: 1rem 2rem; */
  min-height: 200px;
}

@media (max-width: 576px) {
  .myPetWrap {
    width: 95%;
  }
}