.wrap {
  padding: 1rem 0;
  max-width: 768px;
  margin: auto;
  min-height: 300px;
}

.viewChange {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem auto;
}

.viewChange span {
  cursor: default;
  margin-right: 5px;
}

.viewChange svg {
  cursor: pointer;
  height: 21px;
  margin-right: 5px;
}

.viewChange svg:hover {
  transform: scale(1.3);
  fill: var(--main-default-dark-color);
}

.zeroContent {
  margin: 2rem 0 1rem;
  background-color: #F0F0F0;
  max-width: 768px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: default;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 35px;
}

.header p {
  font-weight: 700;
  text-align: center;
}

.header p:nth-of-type(1) {
  width: 40px;
}

.header p:nth-of-type(2) {
  width: 64px;
}

.header p:nth-of-type(3) {
  width: 100%;
  min-width: 100px;
  max-width: 300px;
}

.header p:nth-of-type(4) {
  width: 130px;
}

/* 카드 형식 */
.bodyAniamlCard {
  display: flex;
  flex-wrap: wrap;
}

.AnimalCardWrap {
  width: 50%;
  min-width: 300px;
  margin: 1rem 0;
}


/* 게시판 테이블 형식 */
.body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid black;
  height: 35px;
}

.body p {
  text-align: center;
}

.body p:nth-of-type(1) {
  width: 40px;
}

.body p:nth-of-type(2) {
  width: 64px;
}

.body p:nth-of-type(3) {
  width: 100%;
  min-width: 100px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.body p:nth-of-type(4) {
  width: 130px;
}

.body:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

/* page button */
.wrapBottom {
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 660px) {
  .wrap {
    max-width: 600px;
  }
  .bodyAniamlCard {
    justify-content: center;
  }
}

@media (max-width: 628px) {
  .header > p:nth-of-type(3),
  .body > p:nth-of-type(3) {
    width: auto;
    max-width: 100px;
  }
}

@media (max-width: 426px) {
  .bodyAniamlCard {
    justify-content: center;
  }
}