.wrap {
  position: relative;
  max-width: 1320px;
  margin: auto;
}
.imageWrap {
  display: flex;
  overflow: hidden;
}

.imageWrap img {
  max-width: 100%;
  /* max-height: 350px; */
  min-height: 200px;
}

.buttonWrap {
  width: 100%;
  max-width: 1320px;
  margin: auto;
}

.buttonGroup {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 1320px;
}

.buttonGroup img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  transform: translate(0%, -50%);
}

.buttonGroup img:nth-of-type(1) {
  left: 10px;
}
.buttonGroup img:nth-of-type(2) {
  right: 10px;
}