@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

header {
    position: relative;
    /* margin-bottom: 150px; */
    /* margin-bottom: 50px; */
    /* color: #FFF; */
    color: #000;
    /* min-height: 200px; */
    min-height: 182px;
}

header a {
    /* color: #FFF; */
    color: #000;
    text-decoration: none;
}

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid black;
}


.navbarWrapper {
    max-width: 1320px;
    margin: 1rem auto 20px;
}

.navbarTop {
    display: flex;
}

.topInner {
    display: flex;
    margin-left: auto;
}

.topInner > li:not(:first-of-type) {
    margin-left: 1rem;
}

.topInner a:hover {
    color: #00AF41;
}

.navbarMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo {
    font-family: 'Imperial Script';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    flex: 0.2;
}

.navbarLogo a:hover {
    color: #00AF41;
}

.searchForm {
    position: relative;
    display: flex;
    height: 40px;
    flex: 0.8;
}

.searchInput {
    flex: 1;
    /* margin-right: 10px; */
    border: 1px solid black;
    border-radius: 0.3em;
    font-size: 1rem;
    padding: 0px 10px;
}

.searchBtn {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 2.5px;
    right: 10px;
    cursor: pointer;
}

.searchBtn img {
    width: 30px;
    height: 30px;
}

.headerItem {
    display: flex;
    justify-content: space-between;
}

/* 아이콘123 미사용으로 인한 임시 display none 설정 */
.headerItem li {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    /* margin: 2rem auto; */
    /* margin: 1.5rem auto 20px; */
    margin: 1.5rem auto 0px;
}

.menuItem {
    cursor: pointer;
}

.menuItemLink {
    display: block;
    font-size: 1.1rem; 
    font-weight: bold;
    text-align: center;
}

.menuItemLink:nth-child(1) {
    padding-left: 0;
}

.menuItemLink:hover {
    border-bottom: 2px solid #000;
    color: #00AF41;
}

.navbarTop > .navbarLogo {
    display: none;
}

@media (max-width: 1175px) {
    .navbarLogo {
        flex: 0.3;
    }
    .searchForm {
        flex: 0.7;
    }
}

@media (max-width: 780px) {
    .navbarLogo {
        flex: 0.4;
    }
}

@media  (max-width: 660px) {
    header {
        min-height: 166px;
    }
    .navbarTop {
        align-items: center;
        justify-content: space-between;
    }
    .navbarWrapper {
        margin: 0rem auto 20px;
    }
    .navbarMiddle {
        flex-wrap: wrap;
    }
    .navbarMiddle > .navbarLogo {
        display: none;
    }
    .navbarTop > .navbarLogo {
        display: block;
    }
    .navbarLogo {
        min-width: 240px;
    }
    .searchForm {
        min-width: 420px;
        flex: 1 0;
    }
}

@media  (max-width: 660px) {
    .navbarLogo {
        font-size: 3rem;
        min-width: 180px;
    }
    .topInner {
        margin: 0px;
    }
    .topInner > li {
        font-size: 0.93rem;
    }
    .topInner > li:not(:first-of-type) {
        margin-left: 5px;
    }
}

@media  (max-width: 425px) {
    .searchForm {
        min-width: auto;
    }
}