@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

header {
    position: relative;
    /* margin-bottom: 150px; */
    margin-bottom: 50px;
    /* color: #FFF; */
    color: #000;
    min-height: 200px;
}

header a {
    /* color: #FFF; */
    color: #000;
    text-decoration: none;
}

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    /* background-color: #BB8F4F; */
    background-color: #FFF;
}


.navbarWrapper {
    max-width: 1320px;
    margin: 1rem auto 0;
}

.navbarTop {
    display: flex;
}

.topInner {
    display: flex;
    margin-left: auto;
}

.topInner > li:not(:first-of-type) {
    margin-left: 1rem;
}

.topInner a:hover {
    color: #00AF41;
}

.navbarMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo {
    font-family: 'Imperial Script';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
}

.navbarLogo a:hover {
    color: #00AF41;
}

.searchForm {
    position: relative;
    display: flex;
    height: 40px;
    flex: 0.8;
}

.searchInput {
    flex: 1;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 0.3em;
    font-size: 1rem;
    padding: 0px 10px;
}

.searchBtn {
    background-color: transparent;
    border: 0;
    position: absolute;
    /* top: 9px; */
    /* right: 0%; */
    top: 2.5px;
    right: 10px;
    cursor: pointer;
}

.searchBtn img {
    width: 30px;
    height: 30px;
}

.headerItem {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.menuItem {
    cursor: pointer;
}

.menuItemLink {
    display: block;
    font-size: 1.1rem; 
    font-weight: bold;
    /* color: #555; */
    text-align: center;
}

.menuItemLink:nth-child(1) {
    padding-left: 0;
}

.menuItemLink:hover {
    border-bottom: 2px solid #000;
    color: #00AF41;
}


@media (max-width: 660px) {
    .navbarLogo {
        font-size: 2rem;
    }
}