.wrap {
  min-height: 1000px;
  max-width: 768px;
  margin: auto;
  /* background-color: #dfdfdf; */
  padding: 1rem 0;
}

.top {
  text-align: right;
  margin: 0 2rem;
}

.top img {
  width: 25px;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}

.wrapPreview {
  width: 100%;
  height: 200px;
}

.wrapPreview img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.pictureCount {
  color: white;
  background-color: #393939;
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureCount span:nth-of-type(2) {
  margin: 0px 3px;
}

.contentWrap > h2 {
  font-size: 2rem;
  margin: auto 2rem;
}

.genderAge, .breed, .grade, .interest, .title, .locationMap {
  margin: 5px auto;
}

.content1, .content2 {
  margin: 20px auto;
}

.contentBottom {
  margin: 20px auto 0;
  padding-bottom: 20px;
}

.contentWrap > div:nth-of-type(1) > p:nth-of-type(2) {
  margin-left: 1rem;
}

.contentWrap > div {
  margin-left: 2rem;
  margin-right: 2rem;
}

.contentWrap > div > p {
  display: inline-block;
  font-size: 1.1rem;
}

.grade, .interest {
  height: 25px;
  display: flex;
  align-items: center;
}

.grade img,
.interest img {
  width: 25px;
  height: 25px;
}

.grade p,
.interest p {
  margin-left: 10px;
}

.interest p:nth-of-type(1) {
  color: red;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.buttonGroup > div {
  background: #FFFFFF;
  border: 1px solid var(--main-default-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin: 5px 1rem;
  cursor: pointer;
}

.buttonGroup > div:hover {
  background-color: var(--main-default-dark-color);
  color: white;
}

.buttonGroup img {
  width: 40px;
  height: 40px;
}

.buttonGroup span {
  margin: 0 5px;
}

.title > p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 700;
}

.title > p:nth-of-type(1),
.content1 p,
.content2 p {
  display: block;
}

.title > p:nth-of-type(1),
.content1 > p:nth-of-type(1),
.content2 > p:nth-of-type(1),
.locationMap > p:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 5px 0;
}

.locationMap > p:nth-of-type(2) {
  margin-bottom: 5px;
}



.locationMap > div {
  width: 700px;
  height: 300px;
  background-color: #797979;
  border: 1px solid black;
}

.contentBottom {
  margin-right: 2rem;
}

.contentBottom > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentBottom p {
  cursor: default;
}

.contentBottom > div > div {
  display: inline-block;
}

.contentBottom button {
  background: #FFFFFF;
  border: 1px solid var(--main-default-color);
  border-radius: 5px;
  width: 50px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

.contentBottom button:hover {
  background: var(--main-default-dark-color);
  color: white;
}

.footer {
  margin: 0 2rem;
}

.footer > button {
  width: 100%;
  height: 60px;
  font-size: 1.3rem;
  background-color: var(--main-default-color);
  color: var(--main-bg-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.footer > button:hover {
  background-color: var(--main-default-dark-color);
}

.reactQueryLoading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.reactQueryError {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: red;
}


@media (max-width: 750px) {
  .locationMap > div {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .contentWrap > h2:nth-of-type(1) {
    margin: 1rem 1rem auto;
  }
  .contentWrap > div {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .top {
    margin: auto;
  }
}

@media (max-width: 411px) {
  .interest {
    margin-right: 0px !important;
  }
}
