.wrap {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapTop {
  /* line-height: normal; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.wrapCol {
  flex: 1 0;
  min-width: 520px;
}

.wrapTop h1 {
  font-size: 4.5rem;
  font-weight: 700;
  /* color: #FF6C99; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 520px;
  margin-left: auto;
}

.wrapTop .wrapCol:nth-of-type(2) > div {
  width: 50%;
  text-align: center;
}

.wrapTop img {
  width: 500px;
  height: 500px;
}


.wrapBottom {
  width: 65%;
  display: flex;
  justify-content: center;
  max-width: 1250px;
}



@media (max-width: 1056px) {
  .wrapTop h1 {
    margin: 1.5rem auto;
  }

  .wrapCol:nth-of-type(2) div {
    margin: 2rem 0;
  }

  .wrapTop .wrapCol:nth-of-type(2) > div {
    width: 100%;
  }

  .wrapBottom {
    margin: 1rem 0 2rem;
  }
}

.wrapLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoBox {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 200px;
  height: 100px;
  margin: 0 10px;
}

.logoBox img {
  width: 180px;
  height: 80px;
  margin: 10px;
}



@keyframes marquee {
  from { transform: translateX(280%); }
  to { transform: translateX(-380%); }
}

@keyframes marqueeClone {
  from { transform: translateX(280%); }
  to { transform: translateX(-380%); }
}

.logoBoxAnimation {
  will-change: transform;
  animation: marquee 30s linear infinite;
}

.logoBoxCloneAnimation {
  will-change: transform;
  animation: marqueeClone 30s linear infinite;
}

@media (max-width: 576px) {
  .wrapCol:nth-of-type(1) h1 {
    margin-bottom: 0;
  }
  .wrapCol:nth-of-type(2) > div {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .wrapCol {
    min-width: 300px
  }

  .wrapCol h1 {
    width: 340px;
    font-size: 3rem;
  }
  
  .wrapCol img {
    width: 340px;
    height: 340px;
  }

  .wrapBottom {
    width: 90%;
  }
}