.wrap {
  /* background-color: #EFEFEF; */
  background-color: #FFF;
  min-height: 1000px;
  text-align: center;
}

.wrap h1 {
  margin-top: 0px;
  padding-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
}

.explanationLineWrap {
  width: 80%;
  margin: auto;
}

.imgSource {
  display: none;
}
