@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.wrap {
  min-height: 350px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  flex: 1 0;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 1rem auto 2rem;
}

.footLogo {
  font-family: 'Imperial Script';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0 0;
}

.footLogo a {
  cursor: pointer;
  color: #000;
}

.footLogo a:hover {
  /* color: #777; */
  color: #00AF41;
}

.footLogo a {
  text-decoration: none;
}

.copyright {
  font-size: 1.5rem;
  color: #959595;
  text-align: center;
  cursor: default;
  margin: 1rem 0;
}

.footText ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footText li {
  font-size: 1.3rem;
  margin: 1rem 0;
}


@media (max-width: 576px) {
  .wrap > .row:nth-of-type(1) > hr {
    margin: 1rem auto;
  }

  .wrap > .row:nth-of-type(2) > .col:nth-of-type(1) {
    flex: auto;
  }

  .wrap > .row:nth-of-type(2) > .col:nth-of-type(2) {
    padding: 0px 10px;
  }

  .footText:nth-of-type(4) {
    display: none;
  }
  .col {
    text-align: center;
  }
}