.wrap {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapBody {
  width: 80%;
  max-width: 1320px;
}

.wrapBody h1 {
  font-size: 2rem;
  margin: 1rem 0px 2rem;
}

.previewText {
  text-align: center;
  font-size: 0.9rem;
  color: #575757;
}

.previewText:nth-of-type(2) {
  margin: 0px 0px 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .wrapBody {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .wrapBody {
    width: 100%;
  }
  .wrapBody > h1:nth-of-type(1) {
    text-align: center;
  }
}
