.joinContainer {
    max-width: 680px;
    min-width: 460px;
    margin: 0 auto;
}

.joinTitle {
    margin-bottom: 50px;
    font-size: 1.7rem;
    text-align: center;
}

.joinDivider {
    /* border-bottom: 2px solid rgb(51, 51, 51); */
    border-bottom: 2px solid var(--main-default-color);
    padding-bottom: 10px;
    text-align: right;
}

.inputColumnWrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    align-items: baseline;
}

.joinLabel {
    flex-basis: 15%;
}

.joinInputWrapper {
    flex-basis: 63%;
}

.joinInput {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-size: 1.2rem;
    outline: none;
    box-sizing: border-box;
}

.joinButton {
    flex-basis: 80px;
    height: 46px;
    /* border: 1px solid  rgb(95, 0, 128); */
    border: 1px solid var(--main-default-color);
    background-color: white;
    /* color: rgb(95, 0, 128); */
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.joinButton:hover {
    color: white;
    background-color: var(--main-default-dark-color);
}

.joinWarning {
    color: red;
    margin-top: 3px;
}

.empty {
    flex-basis: 80px
}

.searchAddressBtn {
    flex-basis: 60%;
    height: 46px;
    background-color: white;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 4px;
    cursor: pointer;
}


.joinSubmitButton {
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 0 10px;
    border-radius: 3px;
    /* background-color: rgb(95, 0, 128); */
    background-color: var(--main-default-color);
    border: 0px none;
    width: 40%;
    height: 56px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.joinSubmitButton:hover {
    background-color: var(--main-default-dark-color);
}

@media (max-width: 576px) {
    .joinContainer {
        min-width: auto;
    }
    .joinTitle {
        margin-bottom: 1rem;
    }
    .joinButton {
        flex-basis: 75px;
    }
    .inputColumnWrapper {
        padding: 1rem 5px 0;
    }
    .joinLabel {
        flex-basis: 25%;
        font-size: 0.9rem;
    }
    .joinInput {
        padding: 0 5px 0px 5px;
        font-size: 1rem;
    }
}