.wrap {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
  align-items: center;
}

.wrapCol {
  flex: 1 0 0%;
}

.wrapImg {
  text-align: right;
}

.dogImg, .catImg {
  width: 500px;
  height: 400px;
}

.wrapText {
  max-width: 500px;
  margin-left: 6rem;
  line-height: 1.5;
}

.wrapText h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.wrapText p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.imgSource {
  display: none;
}

.animatedImage {
  opacity: 1;
  transition: opacity 6s ease;
  animation: fadeInOutAnimation 6s infinite;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .wrap {
    min-height: 500px;
  }
  .wrapCol {
    width: 50%;
  }
  .dogImg, .catImg {
    width: 400px;
    height: 300px;
  }
  .wrapCol .wrapText {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .wrap {
    min-height: 500px;
  }
  .wrapCol {
    flex: auto;
  }
  .wrapImg {
    text-align: center;
  }
  .dogImg, .catImg {
    width: 100%;
    height: 300px;
  }

  .wrapText {
    margin: 0;
  }
  .wrapText h1 {
    font-size: 2.4rem;
  }
  .wrapText p {
    margin: 0
  }
}