.wrap {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  min-height: 600px;
  max-width: 850px;
  margin: auto;
  padding: 10px 0px;
}

.wrapRow {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrapCol {
  /* flex: 1 0; */
}

.wrapRow label {
  font-size: 1.4rem;
  margin: 0px 2rem;
}

.wrapRow input[type="text"] {
  width: 350px;
  height: 25px;
  font-size: 1rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
}
.wrapRow input[type="text"]:disabled {
  color: #9f9f9f;
}

.wrapRow:not(:nth-of-type(1)) input[type="text"] {
  width: 180px;
}

.wrapRow .wrapCol select {
  width: 200px;
}


@media (min-width: 660px) {
  .wrapCol {
    min-width: 490px;
  }
}

.writeType label:nth-of-type(1) {
  margin: 0px 2rem;
}

.writeType label {
  margin: 0px 5px;
}

.writeType input:nth-of-type(2) {
  margin-left: 1rem;
}

.wrapRow input[type="number"] {
  width: 180px;
  height: 25px;
  font-size: 1rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
}

.amount span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.mateWriteWraning {
  color: red;
  display: inline-block;
  margin-left: 1rem;
}

.wrapPet {
  margin-top: 30px;
}

.wrapPet h2 {
  font-size: 1.4rem;
  margin: 0px 1rem 0px 2rem;
  display: inline;
}

.wrapPet select {
  font-size: 0.9rem !important;
}

.petAddButton {
  font-size: 0.9rem;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  margin-left: 1rem;
}

.petAddButton:hover {
  background-color: var(--main-default-dark-color);
  border: 1px solid var(--main-default-dark-color);;
  color: #fff;
}

.wrapPetGender label:not(:nth-of-type(1)) {
  margin: 0 5px;
}

.wrapPetGender input:nth-of-type(2) {
  margin-left: 1rem;
}

.wrapRow .wrapCol select {
  height: 35px;
  font-size: 1rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
}

.wrapPetWeight span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.wrapIsNeutered label:nth-of-type(1) {
  margin-right: 1rem;
}

.wrapIsNeutered label:not(:nth-of-type(1)) {
  margin: 0 5px;
}

.wrapIsNeutered input:not(:nth-of-type(1)) {
  margin-left: 1rem;
}

.wrapRowTextEditor {
  margin-top: 15px;
  margin-bottom: 50px;
}

.wrapRowTextEditor .wrapCol {
  margin: 0px 2rem;
  width: 100%;
}

.wrapRowTextEditor h2 {
  font-size: 1.4rem;
}

.wrapTextEditor {
  margin: 10px 0px; 
}

.wrapRowMap .wrapCol {
  margin: 0px 2rem;
  width: 100%;
}

.wrapRowMap h2 {
  font-size: 1.4rem;
}

.wrapRowMap .wrapCol > div {
  width: 100%;
  border: 1px solid #d4d4d4;
  margin: 10px auto;
}

.buttonGroup {
  max-width: 850px;
  text-align: right;
  margin: 1rem auto 2rem;
}

.buttonGroup button {
  background-color: #4AD645;
  color: #FFF;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 45px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.buttonGroup button:hover {
  background-color: var(--main-default-dark-color);
}


@media (max-width: 660px) {
  form .wrapRow:nth-of-type(1) .wrapCol {
    width: 100%;
  }
  form .wrapRow:nth-of-type(1) .wrapCol input {
    width: 60%;
  }
}

@media (max-width: 530px) {
  .wrapPet h2 {
    margin: 0 5px 0 2rem;
  }
  .wrapPet select {
    width: 150px !important;
    padding: 0px !important;
  }
}


.wrapRow input[type="radio"]:disabled {
  background-color: #0075ff;
}

@media (max-width: 842px) {
  .wrapRowTextEditor {
    min-height: 270px;
  }
}

@media (max-width: 576px) {
  .wrap {
    border-right: none;
    border-left: none;
    border-radius: 0px;
  }
  .wrapRow label {
    margin: 0px 0.5rem;
  }
  .writeType label:nth-of-type(1) {
    margin: 0px 0.5rem;
  }
  .wrapRowTextEditor > .wrapCol,
  .wrapRowMap > .wrapCol {
    margin: 0px 0.5rem;
  }
}